In [109]:
import pandas as pd

df = pd.read_csv("voteinfo.csv", na_values=['NaN'])
df1 = pd.read_csv("party_votes.csv", na_values=['NaN'])

In [110]:
df['vote_id'] = df['vote_id'].str.replace(r'<NA>', 'nan', regex=True)
df

,name,nomination_no,congress_no,circuit,confirmation_date,yea_votes,nay_votes,record_vote_number,confirmation_year,session,vote_id
0,Roopali H. Desai,PN2262,117,Ninth,2022-08-04,67.0,29.0,284.0,2022,2,1172284
1,Florence Y. Pan,PN2193,117,District of Columbia,2022-09-20,52.0,42.0,340.0,2022,2,1172340
2,Sarah A. L. Merriam,PN2141,117,Second,2022-09-15,53.0,44.0,337.0,2022,2,1172337
3,Lara E. Montecalvo,PN2140,117,First,2022-09-14,52.0,47.0,335.0,2022,2,1172335
4,Salvador Mendoza Jr,PN1966,117,Ninth,2022-09-12,46.0,40.0,331.0,2022,2,1172331
...,...,...,...,...,...,...,...,...,...,...,...
189,Terrence L. O'Brien,PN882,107,Tenth,2002-04-15,98.0,0.0,68.0,2002,2,1072068
190,Michael J. Melloy,PN881,107,Eighth,2002-02-11,91.0,0.0,21.0,2002,2,1072021
191,Michael W. McConnell,PN880,107,Tenth,2002-11-15,NaN,NaN,NaN,2002,2,1072nan
192,William J. Riley,PN458,107,Eighth,2001-08-02,97.0,0.0,270.0,2001,1,1071270
193,Roger L. Gregory,PN402,107,Fourth,2001-07-20,93.0,1.0,244.0,2001,1,1071244

In [119]:
df1

,votes,D_yea,D_nay,D_no_vote,R_yea,R_nay,R_no_vote,I_yea,I_nay,I_no_vote,vote_id1
0,"[['Baldwin (D-WI)', ' Yea'], ['Barrasso (R-WY)...",46,0,2,19,29,2,2,0,0,1172284
1,"[['Baldwin (D-WI)', ' Not Voting'], ['Barrasso...",46,0,2,4,42,4,2,0,0,1172340
2,"[['Baldwin (D-WI)', ' Yea'], ['Barrasso (R-WY)...",48,0,0,3,44,3,2,0,0,1172337
3,"[['Baldwin (D-WI)', ' Yea'], ['Barrasso (R-WY)...",47,0,1,3,47,0,2,0,0,1172335
4,"[['Baldwin (D-WI)', ' Yea'], ['Barrasso (R-WY)...",41,0,7,3,40,7,2,0,0,1172331
...,...,...,...,...,...,...,...,...,...,...,...
189,"[['Akaka (D-HI)', ' Yea'], ['Allard (R-CO)', '...",49,0,1,48,0,1,1,0,0,1072068
190,"[['Akaka (D-HI)', ' Yea'], ['Allard (R-CO)', '...",48,0,2,42,0,7,1,0,0,1072021
191,[],0,0,0,0,0,0,0,0,0,1072nan
192,"[['Akaka (D-HI)', ' Yea'], ['Allard (R-CO)', '...",49,0,1,47,0,2,1,0,0,1071270
193,"[['Akaka (D-HI)', ' Yea'], ['Allard (R-CO)', '...",48,0,2,44,1,4,1,0,0,1071244

In [111]:
df1['vote_id1'] = df1['vote_id']
df1 = df1.drop(['congress_no', 'session','vote_number', 'vote_id'], axis=1)

In [118]:
df2 = pd.concat([df, df1], axis=1)

In [113]:
df2

,name,nomination_no,congress_no,circuit,confirmation_date,yea_votes,nay_votes,record_vote_number,confirmation_year,session,...,D_yea,D_nay,D_no_vote,R_yea,R_nay,R_no_vote,I_yea,I_nay,I_no_vote,vote_id1
0,Roopali H. Desai,PN2262,117,Ninth,2022-08-04,67.0,29.0,284.0,2022,2,...,46,0,2,19,29,2,2,0,0,1172284
1,Florence Y. Pan,PN2193,117,District of Columbia,2022-09-20,52.0,42.0,340.0,2022,2,...,46,0,2,4,42,4,2,0,0,1172340
2,Sarah A. L. Merriam,PN2141,117,Second,2022-09-15,53.0,44.0,337.0,2022,2,...,48,0,0,3,44,3,2,0,0,1172337
3,Lara E. Montecalvo,PN2140,117,First,2022-09-14,52.0,47.0,335.0,2022,2,...,47,0,1,3,47,0,2,0,0,1172335
4,Salvador Mendoza Jr,PN1966,117,Ninth,2022-09-12,46.0,40.0,331.0,2022,2,...,41,0,7,3,40,7,2,0,0,1172331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Terrence L. O'Brien,PN882,107,Tenth,2002-04-15,98.0,0.0,68.0,2002,2,...,49,0,1,48,0,1,1,0,0,1072068
190,Michael J. Melloy,PN881,107,Eighth,2002-02-11,91.0,0.0,21.0,2002,2,...,48,0,2,42,0,7,1,0,0,1072021
191,Michael W. McConnell,PN880,107,Tenth,2002-11-15,NaN,NaN,NaN,2002,2,...,0,0,0,0,0,0,0,0,0,1072nan
192,William J. Riley,PN458,107,Eighth,2001-08-02,97.0,0.0,270.0,2001,1,...,49,0,1,47,0,2,1,0,0,1071270
193,Roger L. Gregory,PN402,107,Fourth,2001-07-20,93.0,1.0,244.0,2001,1,...,48,0,2,44,1,4,1,0,0,1071244

In [120]:
congress_votes = []

for index, row in df2.iterrows():
    senators = {}
    senators["democrats"] = row.D_yea + row.D_nay + row.D_no_vote
    senators["republicans"] = row.R_yea + row.R_nay + row.R_no_vote
    senators["independents"] = row.I_yea + row.I_nay + row.I_no_vote    
    congress_votes.append(senators)
congress_votes

df3 = pd.DataFrame(congress_votes)
df3

In [127]:
data = pd.concat([df2, df3], axis=1)
cols = list(data.columns.values)

In [125]:
data = data[['name', 
'circuit', 
'confirmation_date', 
'nomination_no',
'congress_no',
'session', 
'democrats',
'republicans', 
'independents', 
'record_vote_number', 
'yea_votes',
'nay_votes', 
'vote_id',
'D_yea',
'D_nay',
'D_no_vote',
'R_yea',
'R_nay',
'R_no_vote',
'I_yea',
'I_nay',
'I_no_vote',
'votes']]

data

,name,circuit,confirmation_date,nomination_no,congress_no,session,democrats,republicans,independents,record_vote_number,...,D_yea,D_nay,D_no_vote,R_yea,R_nay,R_no_vote,I_yea,I_nay,I_no_vote,votes
0,Roopali H. Desai,Ninth,2022-08-04,PN2262,117,2,48,50,2,284.0,...,46,0,2,19,29,2,2,0,0,"[['Baldwin (D-WI)', ' Yea'], ['Barrasso (R-WY)..."
1,Florence Y. Pan,District of Columbia,2022-09-20,PN2193,117,2,48,50,2,340.0,...,46,0,2,4,42,4,2,0,0,"[['Baldwin (D-WI)', ' Not Voting'], ['Barrasso..."
2,Sarah A. L. Merriam,Second,2022-09-15,PN2141,117,2,48,50,2,337.0,...,48,0,0,3,44,3,2,0,0,"[['Baldwin (D-WI)', ' Yea'], ['Barrasso (R-WY)..."
3,Lara E. Montecalvo,First,2022-09-14,PN2140,117,2,48,50,2,335.0,...,47,0,1,3,47,0,2,0,0,"[['Baldwin (D-WI)', ' Yea'], ['Barrasso (R-WY)..."
4,Salvador Mendoza Jr,Ninth,2022-09-12,PN1966,117,2,48,50,2,331.0,...,41,0,7,3,40,7,2,0,0,"[['Baldwin (D-WI)', ' Yea'], ['Barrasso (R-WY)..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Terrence L. O'Brien,Tenth,2002-04-15,PN882,107,2,50,49,1,68.0,...,49,0,1,48,0,1,1,0,0,"[['Akaka (D-HI)', ' Yea'], ['Allard (R-CO)', '..."
190,Michael J. Melloy,Eighth,2002-02-11,PN881,107,2,50,49,1,21.0,...,48,0,2,42,0,7,1,0,0,"[['Akaka (D-HI)', ' Yea'], ['Allard (R-CO)', '..."
191,Michael W. McConnell,Tenth,2002-11-15,PN880,107,2,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,[]
192,William J. Riley,Eighth,2001-08-02,PN458,107,1,50,49,1,270.0,...,49,0,1,47,0,2,1,0,0,"[['Akaka (D-HI)', ' Yea'], ['Allard (R-CO)', '..."
193,Roger L. Gregory,Fourth,2001-07-20,PN402,107,1,50,49,1,244.0,...,48,0,2,44,1,4,1,0,0,"[['Akaka (D-HI)', ' Yea'], ['Allard (R-CO)', '..."

In [126]:
data.to_csv("data.csv", index=False)